<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>column1.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,606},{120,558}}</string>
                <key>offset</key>
                <string>{297,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{594,123},{120,558}}</string>
                <key>sourceSize</key>
                <string>{714,782}</string>
            </dict>
            <key>column2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,606},{670,566}}</string>
                <key>offset</key>
                <string>{-22,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,123},{670,566}}</string>
                <key>sourceSize</key>
                <string>{714,782}</string>
            </dict>
            <key>column3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{712,602}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,88},{712,602}}</string>
                <key>sourceSize</key>
                <string>{714,782}</string>
            </dict>
            <key>column4.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,2},{74,574}}</string>
                <key>offset</key>
                <string>{-320,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,88},{74,574}}</string>
                <key>sourceSize</key>
                <string>{714,782}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cozy.png</string>
            <key>size</key>
            <string>{796,1174}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:30d5e2d553b3d89b0f8e90d74a840bc2:86165243e360da8cb34123dd7cf03147:bf8376dd73db8cecd3345a1188c9f08c$</string>
            <key>textureFileName</key>
            <string>cozy.png</string>
        </dict>
    </dict>
</plist>
